@import "tailwindcss";

@plugin '../config/hero.ts';

@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

@custom-variant dark (&:is(.dark *));

@theme {
    --font-sans: var(--font-sans), "Space Grotesk", sans-serif;
    --font-mono: var(--font-mono), "Fira Code", monospace;
}

@utility scrollbar-hide {
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
        display: none;
    }
}
